Makefile
*.o
moc_*.cpp
*.moc
*~
# VIM temporary swap files
.*.swp
libdecorator.so*
#Debian stuff
debian/tmp
debian/duicompositor
debian/duicompositor-dbg
debian/duicompositor-tests
debian/mcompositor-dev/
debian/mcompositor-dbg/
debian/mcompositor-functional-tests/
debian/mcompositor/
*.debhelper
*.debhelper.log
debian/files
debian/*.substvars
tests/ut_duicompositescene/ut_duicompositescene
tests/ut_duisimplewindowframe/ut_duisimplewindowframe
*-stamp
tests.xml
decorators/mdecorator/mdecorator
mcompositor/mcompositor
tests/windowctl/windowctl
tests/windowstack/windowstack
tests/GLES2/test-gles2
tests/focus-tracker/focus-tracker
